[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/bufkill"]
	path = vim/bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "vim/bundle/colors/solarized"]
	path = vim/bundle/colors/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/colors/github"]
	path = vim/bundle/colors/github
	url = git://github.com/telamon/vim-color-github.git
